$theme-c-color: #8DBF5A;
$theme-r-color: #4691B7;
$theme-u-color: #F2A341;
$theme-d-color: #FF4541;

$font-color: #000;
$primary-color: #45aab8;
$secondary-color: #555;
$success-color: #67b79e;
$danger-color: #de733e;
$warning-color: #ffb727;
$info-color: #45aab8;
$light-color: #efefef;
$dark-color: #000;

$theme-color: #0059d6;
$background-color: $theme-color;

$area-color: #f2f2f2;
$highlight-color: #f7f7f9;
$default-border-color: darken($area-color, 6);
$default-border-width: 3px;

$app-header-height: 60px;